<form action="/restaurants" method="POST">
    <div class="d-flex flex-column mt-3 align-items-center">
        <input class="mt-2" type="text" placeholder="麥當當" value="麥當當" name="name" required>
        <input class="mt-2" type="text" placeholder="McDonald" value="McDonald" name="name_en">
        <input class="mt-2" type="text" placeholder="日式、中式..." value="美式" name="category" required>
        <input class="mt-2" type="text" placeholder="台北市信義區..." value="104台北市中山區南京東路一段86號" name="location" required>
        <input class="mt-2" type="url" placeholder="https://goo.gl/maps/..." name="google_map">
        <input class="mt-2" type="tel" placeholder="02-77452256" value="0225374880" name="phone" required>
        <input class="mt-2" type="text" placeholder="餐廳描述" value="老字號的經典連鎖速食店，以漢堡和薯條聞名" name="description" required>
        <input class="mt-2" type="url" placeholder="http://image....." value="https://cc-image-resizer.cwg.tw/resize/uri/https%3A%2F%2Fi.cheers.com.tw%2Farticle%2F202104%2Farticle-607ea772e69b6.jpg/?w=810&h=543&fit=fill" name="image" required>
        <input class="mt-2" type="number" min="0" max="5" step="0.1" placeholder="3" name="rating">

        <button type="submit" class="btn btn-primary mt-2">Create</button>
        <button type="reset" class="btn btn-danger mt-2">Reset</button>
    </div>
</form>